In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

df = pd.read_csv("../data/support_tickets.csv", parse_dates=["created_at"])
df.head()

   ticket_id          created_at   category channel priority
0          1 2024-01-01 13:00:00    billing   email     high
1          2 2024-01-01 06:00:00    account   email      low
2          3 2024-01-01 06:00:00  technical   phone      low
3          4 2024-01-01 02:00:00    billing   phone   medium
4          5 2024-01-01 18:00:00    billing   email      low