In [1]:
import pandas as pd

df = pd.read_csv("../data/support_tickets.csv", parse_dates=["created_at"])

In [2]:
daily = (
    df.groupby(df["created_at"].dt.date)
      .size()
      .reset_index(name="ticket_count")
)

daily.rename(columns={"created_at": "date"}, inplace=True)
daily["date"] = pd.to_datetime(daily["date"])
daily.head()

        date  ticket_count
0 2024-01-01           107
1 2024-01-02           121
2 2024-01-03           132
3 2024-01-04           132
4 2024-01-05           135

In [3]:
daily["day_of_week"] = daily["date"].dt.weekday
daily["is_weekend"] = daily["day_of_week"].isin([5, 6]).astype(int)

In [4]:
daily["lag_1"] = daily["ticket_count"].shift(1)
daily["lag_7"] = daily["ticket_count"].shift(7)

In [5]:
daily["rolling_7"] = daily["ticket_count"].rolling(7).mean()

In [6]:
daily = daily.dropna()
daily.head()

         date  ticket_count  day_of_week  is_weekend  lag_1  lag_7   rolling_7
7  2024-01-08           118            0           0  106.0  107.0  123.000000
8  2024-01-09           116            1           0  118.0  121.0  122.285714
9  2024-01-10           109            2           0  116.0  132.0  119.000000
10 2024-01-11           114            3           0  109.0  132.0  116.428571
11 2024-01-12           117            4           0  114.0  135.0  113.857143

In [7]:
daily.shape

(173, 7)